@mixin theme($color,$color-hover) {
  .wpsms-chatbox__button {
    background: $color;

    &:hover {
      background: $color-hover;
    }
  }
  .wpsms-chatbox__header, .wpsms-chatbox__team-icon {
    background: $color;
  }
}

@mixin theme-gradient($start,$end,$color-hover) {
  .wpsms-chatbox__button {
    background: linear-gradient(to bottom, $start, $end);

    &:hover {
      background: $color-hover;
    }
  }
  .wpsms-chatbox__header, .wpsms-chatbox__team-icon {
    background: linear-gradient(to bottom, $start, $end);
  }
}

.dark-theme {
  .wpsms-chatbox__button-bobbles-title {
    color: #ECE5DD;
  }

  .wpsms-chatbox__header {
    background: #2C2C2C !important;
    color: #ECE5DD;
  }

  .wpsms-chatbox__content {
    background: #0F0F0F;
    border: 1px solid #272727
  }

  .wpsms-chatbox__teams {
    border: 1px solid #272727;
    background: #121212;

    .wpsms-chatbox__team, .wpsms-chatbox__team {
      color: #E0E0E0;
      border-top: 1px solid #272727;

      &:nth-child(even) {
        background: #1A1A1A;
      }
    }
  }

  .wpsms-chatbox__articles {
    border: 1px solid #272727;
    background: #121212;

    li {
      border: 1px solid #272727;
      color: #E0E0E0;

      a {
        color: #E0E0E0;
      }
    }
  }

  .wpsms-chatbox__info {
    color: #E0E0E0;
    border-top: 1px solid #272727;
  }
  .wpsms-chatbox__content:after{
    background: #0F0F0F;
    border-bottom: #272727 solid 1px;
    border-right: #272727 solid 1px;
  }
}

.light-theme {
  .wpsms-chatbox__button-bobbles-title {
    color: #000000
  }

  .wpsms-chatbox__content {
    background: #F9FAFB;
    border: 1px solid #E5E7EB
  }

  .wpsms-chatbox__teams {
    border: 1px solid #E5E7EB;
    background: #F9FAFB;

    .wpsms-chatbox__team {
      border-top: 1px solid #E5E7EB;
      color: #5C5C5C;

      &:nth-child(even) {
        background: #F3F4F6;
      }
    }
  }

  .wpsms-chatbox__info {
    border-top: 1px solid #E5E7EB;
    color: #5C5C5C;
  }

  .wpsms-chatbox__articles {
    border: 1px solid #E5E7EB;
    background: #F9FAFB;

    li {
      border-top: 1px solid #E5E7EB;
      color: #5C5C5C;

      a {
        color: #5C5C5C;
      }
    }
  }
  .wpsms-chatbox__content:after{
    background: #f9fafb;
    border-bottom: #e5e7eb solid 1px;
    border-right: #e5e7eb solid 1px;
  }
}

html.dark-theme {
  background: #000;
}

html.light-theme {
  background: #fff;

}