.wpsms-chatbox__content {
  width: 382px;
  max-width: 90%;
  position: fixed;
  bottom: 6rem;
  background: var(--chatbox-content);
  @include border-radius(8px);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 1px solid var(--content-border);
  &.open {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(12%);
   }
  to {
    opacity: 1;
    transform: translateY(0);
   }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(12%);
  }
}

 .wpsms-chatbox__content--fade.opening {
  animation: fadeIn 0.5s ease;
}

 .wpsms-chatbox__content--fade.closing {
  animation: fadeOut 0.5s ease;
}

.wpsms-chatbox__content--slide.opening {
  animation: slideUp 0.5s linear;
}

.wpsms-chatbox__content--slide.closing {
  animation: slideDown 0.5s linear;
}

.wpsms-chatbox__elements{
  max-height: 54vh;
   overflow-y: auto;
  overflow-x: hidden;
  @extend .u-custom-scrollbar;
  @media(min-width:$tablet-width){
    max-height: 65vh;
  }
}

.wpsms-chatbox__arrow {
  background: transparent;
  display: inline-block;
  position: fixed;
  bottom: 77px;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid var(--content-border);
  border-right: 10px solid transparent;
   i {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-top: 9px solid var(--chatbox-content);
    border-right: 9px solid transparent;
  }
}

.wpsms-chatbox__container {
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.wpsms-chatbox__header {
  display: flex;
  color: var(--header-color);
  justify-content: space-between;
  padding: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  h2 {
    margin: 0;
    font-size: 1rem;
    color: var(--header-color);
  }

  .wpsms-chatbox__close-button {
    background: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
  }
}

.dark-theme, .wpsms-chatbox--dark-theme {
  .wpsms-chatbox__header {
    background: var(--header-bg) !important;
  }
}

.wpsms-chatbox__teams {
  border: 1px solid var(--content-border);
  background: var(--chatbox-row);
  border-radius: 8px;
  overflow: hidden;

  .wpsms-chatbox__team {
    padding: 15px;
    display: flex;
    gap: 7px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-top: 1px solid var(--content-border);
    color: var(--chatbox-content-color);
    @media (min-width: $mobile-width) {
      gap: 16px;
    }
    &:hover {
      cursor: pointer;
      background: var(--chatbox-row-hover);
    }

    &:first-child {
      border-top: 0 !important;
    }
  }

  .wpsms-chatbox__team-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .wpsms-chatbox__team-item {
      font-size: 14px;
      line-height: 16.41px;
      word-break: break-word;
      @extend .u-normal;

      &.wpsms-chatbox__team-name {
        line-height: 18.75px;
        text-transform: capitalize;
        font-size: 1rem;
        @extend .u-bold;
      }

      &.wpsms-chatbox__team-status {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size:0.75rem ;
        line-height:14.06px;
        span.dot {
          width: 12px;
          height: 12px;
          border: 2px solid #F2F2F2;
          background: #94A3B8;
          display: inline-block;
          border-radius: 50%;
          box-sizing: border-box;
          &.online {
            border: 2px solid #D1FAF5;
            background: #14B8A6;
          }
        }
      }
    }
  }

  .wpsms-chatbox__team-avatar {
    position: relative;

    .wpsms-chatbox__team-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .wpsms-chatbox__team-avatar-img {
      border-radius: 50%;
    }
  }
}

.wpsms-chatbox__articles {
  border: 1px solid var(--content-border);
  background: var(--chatbox-row);
  border-radius: 8px;
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 3px;
    flex-direction: column;

    li {
      border-top: 1px solid var(--content-border);
      color: var(--chatbox-content-color);
      font-size: 0.875rem;
      a {
        word-break: break-word;
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: var(--chatbox-content-color);
        font-size: 0.87rem;
        line-height: 16.8px;
       }

      &.wpsms-chatbox__articles-header {
        padding: 12px;
        @extend .u-bold;
      }

      &:first-child {
        border-top: 0 !important;
      }
    }
  }
}

.wpsms-chatbox__info {
  border-top: 1px solid var(--content-border);
  color: var(--chatbox-content-color);
  line-height: 15px;
  div {
    padding: 16px;
    font-size: 12px;
    @extend .u-normal;

    a {
      color: $color__link;

      &:hover {
        color: $color__link-hover;
      }
    }
  }
}