@mixin rtl-ltr($direction) {
  @if $direction == 'rtl' {
    direction: rtl;
    text-align: right;
    .wpsms-chatbox__copy-right{
      justify-content: left;
    }
  } @else if $direction == 'ltr' {
    direction: ltr;
    text-align: left;
    .wpsms-chatbox__copy-right{
      justify-content: right;
    }
  }
}
[dir="rtl"] ,body.rtl {
  .wpsms-chatbox {
    @include rtl-ltr('rtl');
  }
}
[dir="ltr"],body.ltr{
  .wpsms-chatbox {
    @include rtl-ltr('ltr');
  }
}

@mixin position($position) {
  @if $position == 'right' {
     right: 2rem;
    .wpsms-chatbox__article span {
      transform: rotate(180deg);
      margin-right: 5px;
    }
    .wpsms-chatbox__content {
      right: 1rem;
    }
    .wpsms-chatbox__arrow {
      right: 2.5rem;
    }
  } @else if $position == 'left' {
     left: 2rem;
    .wpsms-chatbox__article span {
      margin-left: 5px;
    }
    .wpsms-chatbox__content {
      left: 1rem;
    }
    .wpsms-chatbox__arrow {
      left: 2.5rem;
    }
  }
}
