@mixin rtl-ltr($direction) {
  @if $direction == 'rtl' {
    direction: rtl;
    right: 1rem;
    .wpsms-chatbox__article span {
      transform: rotate(180deg);
       margin-right: 5px;
    }
    .wpsms-chatbox__content {
      right: 0.5rem;
    }
    .wpsms-chatbox__arrow {
      right: 2rem;
    }
  } @else if $direction == 'ltr' {
    direction: ltr;
    left: 1rem;
    .wpsms-chatbox__article span {
       margin-left: 5px;
    }
    .wpsms-chatbox__content {
      left: 0.5rem;
    }
    .wpsms-chatbox__arrow {
      left: 2rem;
    }
  }
}

[dir="rtl"] {
  .wpsms-chatbox {
    @include rtl-ltr('rtl');
  }
}

[dir="ltr"] {
  .wpsms-chatbox {
    @include rtl-ltr('ltr');
  }
}