@mixin rtl-ltr($direction) {
  @if $direction == 'rtl' {
    direction: rtl;
    .wpsms-chatbox__article span{
      transform: rotate(180deg);
    }
  } @else if $direction == 'ltr' {
    direction: ltr;
  }
}

[dir="rtl"] {
  .wpsms-chatbox {
    @include rtl-ltr('rtl');
  }
}

[dir="ltr"] {
  .wpsms-chatbox {
    @include rtl-ltr('ltr');
  }
}